# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# dev stage config
config.dev.json

# prod stage config
config.prod.json

# etcd
*.etcd

# node_modules
node_modules
*.log

.DS_Store
